# ignore other files.
*
# include neceseary files.
!main.py
!module
!.github
!.github/workflows
!module/handler.py
!module/notify.py
!module/parser.py
!module/signer.py
!module/__init__.py
!module/stdio.py
!module/util.py
!config.py
!requirements.txt
!pyproject.toml
!.github/workflows/sign.yml
!.gitignore
!LICENCE